*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url(https://thumbs.dreamstime.com/b/spaceship-interior-view-planet-earth-d-rendering-el-space-elements-image-furnished-nasa-94908871.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.flexHorizontal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.playerStats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: blue;
    color: white;
}

.gameStatus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: goldenrod;
    color: black;
}

.alienStats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: red;
    color: white;
}
.box{
    text-align: center;
    border: 5px solid black;
    height: 25%;
    width: 25%;
    padding: 2%;

}

.button{
    border-color: aqua;
    background:teal;
}