body {
    background: url(https://thumbs.dreamstime.com/b/spaceship-interior-view-planet-earth-d-rendering-el-space-elements-image-furnished-nasa-94908871.jpg);
}

h1, h3 {
    background-color: aquamarine;
    color: black;
}